<!-- As a heading -->

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Bienvenido {{nombre}}</span>
  <div class="float-right">
  <li class="nav-item p-3">
    <i class="fa fa-sign-out"><a class="tag-a h5" href="/"> Cerrar sesión</a></i>
  </li>
  </div>
</nav>