{{> head }}

<a href="/cregistros" class="btn btn-dark m-5">Volver</a>
{{#each imagenes}}
 <div class="row container">
     <div class="col-4">
         <h1>{{nombre}}</h1>
        <img src="/assets/img/{{imagen}}" alt="aqui va la imagen" width="300" height="300">
     </div>    
 </div>

{{/each}}



<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>











